@charset 'utf-8';

// color
$c-text: rgba(0,0,0,0.87);
$c-text_white: #fff;
$c-bg: #fafafa;

$c-red: #ff5674;
$c-blue: #5f82ff;
$c-green: #27edc9;
$c-orange: #ff9141;

// break points
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-wideDesktop: 1200px;