@charset 'utf-8';

@import "variables";

body {
  color: $c-text;
  background-color: $c-bg;
  font-size: 14px;
  font-family: noto-sans-cjk-jp, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Hiragino Sans", Arial,
    sans-serif;
}
